/* footer */ 
#footer {
  height: 80px;
  background: #1C2D25;
  display: flex;
  justify-content: center;
  align-items: center;
  .footer-text {
    padding-right: 120px;
    font-size: 2rem;
  }
  .copy {
    font-size: 2rem;
  }
}